Ansible do zero a infraestrutura
</br>
Server: {{ ansible_hostname }}
</br>
IP: {{ ansible_all_ipv4_addresses }}
</br>
Arquitetura: {{ ansible_architecture }}
</br>
Versão SO: {{ ansible_distribution_version }}
</br>
Memória RAM: {{ ansible_memtotal_mb }}
</br>
CPU: {{ ansible_processor_vcpus }}